# Core requirements
flask
flask-SocketIO
requests

# Translation and ML requirements
transformers
torch
deep-translator

# Audio processing
soundfile
pydub
gtts
numpy
sentencepiece==0.1.99

# Evaluation requirements
nltk
jiwer
pesq
